modernfix/
logs/
trees/
xaero/
mods/
patchouli_books/
resourcepacks/
screenshots/
schematics/
shaderpacks/
XaeroWaypoints_*/
*.log
icon.png
usercache.json
usernamecache.json
rhino.local.properties
patchouli_data.json
local/
defualtconfigs/
data/
crash-reports/
coremods/
backups/
saves/